/* Customization */
:root {
  --font-color: white;
  --main-background: #552583;
  --button-color: #D4A000;
  --border-color: #ccc;
  --course-background: rgba(255, 255, 255, 0.4);
  --selected-course-background: rgba(212, 160, 0, 0.4);
  --course-font-color: white;
  --columns-background: rgba(255, 255, 255, 0.4);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: .3em;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--button-color);
}

/* Main */
#root {
  height: 100vh;
  width: 100vw;
  background: var(--main-background);
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
}


/* Heading */
h2 {
  font-size: 2.5rem;
}

/* Images */
img {
  border-radius: 4px;
}

/* Input Bars */
.input {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

input {
  padding: 8px;
  width: 100%;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  outline: none;
  color: black;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--button-color);
}

input ::placeholder {
  color: var(--border-color)
}

.entered-courses {
  margin-top: 40px;
  width: 80%;
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
}

/* Buttons */
button {
  padding: 8px 16px;
  background: var(--button-color);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: var(--font-color);
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}

select option:hover { 
  background: var(--selected-course-background) !important;
}

.next {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Subtitles */
.subtitles {
  background: var(--course-background);
  padding: 0.5rem 1rem; 
  border-radius: 4px;
}

/* Drop-downs */
select {
  appearance: none;
  border: 1px solid var(--border-color);
  width: 400px;
  margin-top: 20px;
  color: black;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  outline: none;
}

select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

option:hover {
  background-color: var(--button-color);
}

/* Courses */
.course-card {
  border: 1px solid var(--border-color);
  padding: 15px;
  background: var(--course-background);
  color: var(--course-font-color);
  border-radius: 4px;
  text-align: left;
}

.course-card.selected {
  background-color: var(--selected-course-background); 
}

.course-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  padding: 20px; 
  list-style-type: none; 
}

.course-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--selected-course-background); 
  text-align: center;
  padding: 5px 10px;
}

/* Main Interface Flex-boxes */
.container {
  display: flex;
  width: 80vw;
  gap: 10px;
  flex-flow: column;
  height: 70vh;
  overflow: auto;
  align-items: stretch;
}

.columns {
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  background-color: var(--columns-background);
  border-radius: 4px;
  justify-content: space-between;
  display: flex;
  flex-flow: column;
  gap: 10px;
  flex-grow: 1;
}

.subColumns {
  background-color: var(--columns-background);
  border-radius: 4px;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}

/* Responsiveness */
@media (min-width: 768px) {
  .container {
    flex-flow: row;
  }

  .columns {
    width: 50%;
  }

  .subColumns {
    height: 50%;
  }
}